* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
}

main {
    position: relative;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/* //////////////////// HEADER ///////////////////// */

.header {
    background: url("/assests/bgimage.png") 0 0 / cover no-repeat;
    background-position: center;
    padding: 3em 0 4em;
    color: white;
}

.header-title {
    font-size: 2.4375rem;
    font-weight: 400;
    line-height: .615;
    margin: 0;
    margin-bottom: .488em;
}

.header-description {
    font-size: 1.40138rem;
    margin: 0;
    line-height: .615;
}

/* //////////////// MENU ////////////////////// */

.menu-item {
    display: flex;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid lightgray;
}

.emoji {
    font-size: 4rem;
}

.menu-item-title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
}

.menu-item-ingredients {
    margin: .5rem 0;
    color: #8B8B8B;
}

.price {
    margin: 0;
    font-size: 1.25rem;
}

.add-btn {
    margin-left: auto;
    background: none;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
    line-height: .75;
}

/* ///////////////// ORDER SUMMARY ///////////////////// */

.order-sum-title, 
.order-item-title, 
.total-price-title {
    font-size: 1.75rem;
    font-weight: 400;
}

#order-summary {
    margin: 3rem auto;
    visibility: hidden;
}

.order-sum-title {
    text-align: center;
}

.ordered-items {
    border-bottom: 2px solid black;
}

.order-item {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
}

.remove-btn {
    border: none;
    background: white;
    color: #BBB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .75rem;
    transition: .3s ease-in-out;
}

.remove-btn:hover {
    color: red;
    font-weight: 700;
}

.order-item-price, 
.total-price {
    margin-left: auto;
    font-size: 1.25rem;
}

.total-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete-order-btn {
    width: 100%;
    margin-top: 1em;
    border: none;
    padding: 1.2em;
    border-radius: 3px;
    background: #16DB99;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    transition: background .3s ease-in-out;
}

.complete-order-btn:hover {
    background: #17a072;
}

/* //////////////// MESSAGE /////////////////////// */

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    border-radius: 3px;
    background: #ECFDF5;
    color: #065F46;
    margin: 0 auto .5em;
}

/* /////////////////// MODAL ////////////////////// */

.payment-form {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 3em 1.5em 1.5em;
    height: fit-content;
    width: 85%;
    border-radius: 3.89px;
    background: #FFF;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.234);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 2.88em;
}

.payment-form > input {
    width: 100%;
    color: #757575;
    font-size: 1.25rem;
    line-height: 1.56;
    margin-bottom: 1.16em;
    padding: .832em 0 .832em 1.328em;
    border-radius: 3.89px;
    border: 1.297px solid #757575;
}

.pay-btn {
    width: 100%;
    border-radius: 3.89px;
    border: 1.25px solid #757575;
    padding: 1.5em 0;
    margin-top: 1em;
    border: none;
    border-radius: 3px;
    background: #16DB99;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    transition: background .3s ease-in-out;
}

.pay-btn:hover {
    background: #17a072;
}

/* //////////////// ADDITIONS ///////////////////// */

button {
    cursor: pointer;
}

/* /////////////// UTILITY CLASSES //////////////// */

/* hide class for rendering/hiding elements with JS */
.hide {
    display: none;
}
